﻿
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Libro obras div - derecho*/

.tabla-izquierda {
    width: 100%;
}

.tabla-derecha {
    overflow: scroll;
    height: 609px;
    width: 100%;
    box-shadow: 0px 15px 10px -15px #111;
}

.consumos-izq {
    width: 70%;
    text-align: left;
    padding: 0px 13px;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgb(255 255 255) !important;
    border-top: 0 solid rgba(0,0,0,.125);
}

.consumos-izq {
    width: 70%;
    text-align: left;
}

.valores-izq {
 
    text-align: right;
}
.card {
    box-shadow: 0 0 1px rgb(0 0 0 / 0%), 0 1px 3px rgb(0 0 0 / 11%);
    margin-bottom: 1rem;
}

.ver-izq {
    width: 10%;
    text-align: center;
}

.div-btn-adjuntar {
    display: flex;
}

.card-izq  {
    box-shadow: none!important;
    margin-bottom: 1rem!important;
}

#pnlProvision1 {
    background: #f7fafd;
    border-radius: 10px;
    padding: 0px 26px 30px 26px;
    border: 1px solid #e0ebf7;
    margin: 26px 0px 0px 0px;
}
.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgb(247 250 253) !important;
    border-top: 0 solid rgba(0,0,0,.125);
}

.destacada-izq {
    color: #313131;
    border-bottom: 2px solid #dfdfdf3d;
    height: 32px;
}

.table-prevision-izq {
    width: 91%;
    border: 1px solid red;
    margin: 12px 10px 17px 13px;
}


.destacada-izq td:first-child {
    color: #313131;
    font-weight: 600;
}

.dest-folio-izq {
     border: none !important;
    border-radius: 4px !important;
    width: !important;
    text-align: center !important;
    display: table-row;
    color: white !important;
    font-size: 13px !important;
    font-weight: 600;
}

.por-rendir-izq {
    background: #bddaee80;
    font-weight: 500;
}

.btn-uno {
    background: #d6e3ef80 !important;
    color: #2a6296 !important;
}

.btnes-izq {
    width: 50%;
    text-align: center;
    border-radius: 5px;
    margin: -18px 10px 0px 10px;
    font-weight: 600;
    padding: 4px;
}
.div-cerrar-provision {
    margin: 4px -20px 0px -2px;
}

.btn-dos {
    background: #2a6296 !important;
    color: white !important;
}

.tabla-izquierda-dos {
    width: 100%;
    margin: 3px 0px 30px 0px;
    text-align: center;
}

.fa-plus-square {
    font-weight: 900;
    color: #207fc2;
}

.fa-chevron-circle-right {
    font-weight: 900;
    color: #207fc2;
}


.btn-provision {
    background: #2a6296;
    width: 95% !important;
    margin: 5px 0px;
    border: none;
    color: white;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
}

.tr-titulo-der {
    text-align: left;
    color: #2a6296;
    font-weight: 500;
}

.tabla-derecha td {
    border: 1px solid #e5e5e552;
    height: 16px;
    font-size: 12px;
    text-align: left;
}

.tr-principal-der {
    text-align: center;
    background: #f7fafd;
    color: #2b6296;
    font-weight: 400;
    text-transform: uppercase;
   
}
 
.iconcerrar-modal {
    float: right;
    width: 25px;
}

.input-provisiones {
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    width: 100%;
    height: auto;
    padding: 0px 17px;
}

.titulo-modal {
    display: inherit;
    padding: 2px 35px;
}


.t-detalles-modal {
    margin: 0px 25px;
    border-right: 1px solid #5a5a5a;
    padding-right: 21px;
}

.t-span-modal {
    font-weight: 600;
}

.tabla-derecha-uno {
    margin-left: auto;
    margin-right: auto;
    height: 0px;
}

.btn-ver-derecho {
    background: #ff000000 !important;
    padding: 0px;
    border: none;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 4px 7px;
    border-bottom: none;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.header-modal-obra {
    padding: 5px 7px !important;
    border-bottom: none !important;
}

.modal-dialog {
    max-width: 942px;
    margin: 1.75rem auto;
}

.td-modal-destacado {
    width: 25%;
    color: #5a5a5a;
    text-align: left;
    font-weight: 600;
}


.tr-prevision-der {
    background: #ed8d00;
    text-align: center;
    color: white;
}


/*AGREGADOS 14 MARZO*/
.td-btn-provision {
    width: 61px;
    padding: 0px 3px;
}

.td-comentario {
    width: 80px;
   
}

.tipodocumento-1 {
    max-width: 350px !important;
    
}

.tipo-documento-2 {
    width: 206px;
    
}

.td-numero {
    width: 96px;
}
.border-no {
    border: 1px solid #e5e5e500!important;
}
.td-glosa {
    width: 500px;
}

.td-monto {
    width: 121px;
    text-align: right !important;
}
.td-icon-mas {
    width: 21px;
    text-align: center !important;
}




/*modal*/

.modal-dialog.modal-dialog-centered {
    position: absolute;
    top: 0%;
    left: 10%;
    min-width: 80%;
    right: 10%;
}

.ui-datepicker-calendar {
    display: none;
}

.selecionado {
    background: #dfa01f;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
}

.select-obra {
    margin: 10px 20px;
}


.select-periodo {
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 500;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.select-periodo {
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 500;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.div-periodo-select {
    margin-left: 23px;
    font-weight: 600;
}

.select-option-obra {
    display: block;
    max-width: 124px;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.titulo-provision {
    background: #2b6296;
    border-radius: 5px;
    color: white;
    padding: 3px 0px;
    margin: 15px 0px;
}


.td-select-obra {
    width: 74px;
    font-weight: 600;
}

.td-fecha {
    width: 77px;
}

.td-obra {
    width: 46px;
    font-weight: 600;
}


*::-webkit-scrollbar-thumb {
    background-color: #e4e4e4 !important;
    border-radius: 20px !important;
    border: 2px solid #f4f6f9 !important;
}
.modal-content {
    background-color: #f6f8fb!important;
    border: 2px solid rgb(100 100 100 / 35%)!important; 
}

.btn-descargar-excel {
    background: #0e4272 !important;
    color: white !important;
    border-radius: 5px !important;
    padding: 3px 14px !important;
    margin: 0px 18px 18px 0px !important;
    font-size: 14px !important;
}

    .btn-descargar-excel:hover {
        background: #57a1e7 !important;
    }

.row-excel {
    display: flex!important;
    justify-content: right!important;
}


#pnlAdjunto {
    text-align: center;
    margin: 16px 0px;
}

.titulo-1{
    font-size:13px!important;
}