﻿.body-provisiones {
    background: #f4f6f9;
}

.sidebar {
    background-color: black;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    overflow: scroll;
    height: 100%;
}

    .sidebar h1 {
        color: white;
    }

.portfolio {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
    background: #f4f6f9;
}

input[type=checkbox] {
    display: none;
}

input:checked ~ .portfolio {
    left: 0;
}

input:checked ~ label {
    left: 0;
}

.cerrar {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #207fc2;
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
    color: white;
    padding: 2px 4px 2px 6px;
    border-radius: 5px;
    cursor:pointer;
}

.cont-derech {
    /* background: white; */
    /* border: 2px solid red; */
    width: 97%;
    margin: 20px;
    border-radius: 7px;
    padding: 11px;
    height: 100%;
}

.cont-der-1, .cont-der-2 {
    width: 100%;
    height: 47%;
    margin: 10px 0px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    padding: 11px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    overflow: scroll;
    /* height: 82vh; */
    width: 100%;
}
/*DERECHO*/

.select-derecho-arriba {
    display: inline-block;
}

.content-derecho-head {
    display: block;
}

.solicitud {
    float: right;
    font-weight: 500;
    margin: 3px 11px;
    color: #207fc2;
    font-weight: 600;
}

.div-grabar {
    display: inline-flex;
}

.input-numeros {
    background: #207fc28a;
    display: inline;
    border: none;
    border-radius: 54px;
    padding: 2px 5px;
    color: white;
    display: flex;
    margin-left: 9px;
    ;
}

.content-btn-grabar {
    text-align: center;
    display: grid;
    margin: 0px 30px;
}

.movi-traspasar {
    float: right;
    height: 21px;
    border: 1px solid #207fc2;
    padding: 0px 20px;
    margin-bottom: 12px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    background: #207fc2;
    text-align: center;
    border-radius: 5px;
}

.detalle-derech {
    background: #f4f6f9;
    display: flex;
    font-size: 11px;
    margin: 9px 20px 16px 20px;
    width: 95%;
    font-weight: 700;
}

.elemento-traspasar {
    display: flex;
    margin: 0px 20px 0px 20px;
}

.tabla-slider td {
    border: 1px solid #e5e5e552;
    font-size: 12px;
}

.tabla-slider {
    width: 105%;
    margin-top: 50px;
}

.tr-principal-der {
    text-align: center;
    background: #a256a3;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}

.tr-titulo-der {
    text-align: center;
    color: white;
    background: #924a927d;
}

.check-tabla[type=checkbox] {
    display: block;
    text-align: center;
    display: inline-block;
}

.detalle-derech span {
    font-weight: 600;
    margin-right: 4px;
}

.div-buscador {
    position: fixed;
    background: white;
    width: 48%;
}

[data-tip] {
    position: relative;
}

    [data-tip]:after {
        display: none;
        content: attr(data-tip);
        position: absolute;
        top: 26px;
        left: 0px;
        padding: 5px 8px;
        background: #207fc2c7;
        color: #fff;
        z-index: 9;
        font-size: 12px;
        height: 27px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        white-space: nowrap;
        word-wrap: normal;
    }

.div-detalle-total {
    margin: 30px 0px;
}

.comentario {
    background: #eeeeee;
    color: #494949;
    width: 94%;
    text-align: center;
    margin: 20px;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}

.btnes-izq {
    width: 38%;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 0px 10px;
    font-weight: 500;
    display: inline-table;
}

.tabla-slider-derecho {
    width: 93%;
    background: #eeeeee40;
    margin: 20px 24px;
    border-radius: 5px;
    text-align: center;
}

    .tabla-slider-derecho td {
        border-bottom: 1px solid #e5e5e552;
        font-size: 12px;
        text-align: center:
    }

.tabla-slider-derecho-tr {
    color: #ed8d00;
    font-weight: 600;
    text-align: center;
}

.ver-obra {
    border: none;
    color: white;
    text-align: center;
    border-radius: 4px;
    font-weight: 500;
    background: #ed8d00;
    width: 92%;
}

.btn-uno {
    background: #ed8d00;
}

.btn-dos {
    background: #207fc2;
}

[data-tip]:hover:before, [data-tip]:hover:after {
    display: block;
}

.select-derecho-arriba select {
    margin: 9px 0px;
    background-color: #207fc2;
    border: none;
    color: white;
    padding: 4px;
    border-radius: 5px;
    float: left;
    margin-left: 10px;
    font-weight: 600;
}

.input-buscador {
    border-radius: 5px;
    border: 1px solid darkgrey;
}

.buscador {
    margin: 9px 0px;
    background-color: #207fc2;
    border: none;
    color: white;
    padding: 4px;
    border-radius: 5px;
    /* float: left; */
    margin-left: 10px;
}

.tablas-derecho {
    width: 94%;
    background: #fcfcfc;
    margin: 0% 2%;
}

.btn-grabar {
    background-color: #207fc2;
    border: none;
    color: white;
    padding: 4px;
    border-radius: 5px;
    float: right;
    margin: 9px 0px;
    background-color: #207fc2;
    border: none;
    color: white;
    padding: 4px;
    border-radius: 5px;
    float: right;
}

.obras {
    background: #207fc28a;
    margin: 10px;
    border-radius: 3px;
    padding: 2px 12px;
    color: white;
    width: 100%;
    display: inline-flex;
    font-size: 12px;
}




.search__input {
    width: 78px;
    padding: 0px 6px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 11px;
    color: #ed8d00;
    background-color: transparent;
    /* background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 2px solid #ed8d00;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    font-weight: 600;
    padding: 5px;
   
}

    .search__input::placeholder {
        color: rgba(87, 87, 86, 0.8);
        text-transform: uppercase;
     }

    .search__input:hover,
    .search__input:focus {
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #ed8d00;
        border-radius: 0;
     }

 

.credits__text {
    text-align: center;
    font-size: 11px;
 }

.credits__link {
    color: #ed8d00;
    text-decoration: none;
    transition: color 250ms ease-in;
}

    .credits__link:hover,
    .credits__link:focus {
        color: rgb(191, 137, 135);
    }
 }

 .img-expandir{
    width: 17px;
 }